body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(90deg, rgb(222, 229, 231) 0%, rgb(230, 237, 237) 35%, rgb(211, 222, 231) 100%);

}

.bienvenida{
    max-width: 700px;
    font-size: 25px;
    text-align: center;
    color: #2D425E;
}

.bienvenida button{
    border-radius: 50px;
    border: 2px solid #fff;
    padding: 20px 25px;
    font-weight: bold;
    box-shadow: -1px 3px 3px 0px rgba(46,74,117,1);
}

.bienvenida button:hover{
    background-color:#6567C3;
    color: #fff;

}

.informacion{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eff4f7;
    padding-bottom: 65px;
    padding-top: 30px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #563856;
}
.lista{
    list-style-type: none;
    display: flex;
    gap: 2rem;
    
}
.lista li a{
    text-decoration: none;
    color: #fff;
}

.abrir-menu,
.cerrar-menu{
    display: none;
}

main .movimiento-imagen{
    animation: movimiento 2.5s linear infinite;
}
@keyframes movimiento {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}

/*Estilos seccion sobre mi*/
.style-sobremi{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: #111135;
    margin-bottom: 100px;
    background-color: #eff4f7;
    padding: 130px;
}
.imagen-info{
    display: flex;
    align-items: center;

}
.style-sobremi img{
    max-width: 400px;
    background-color: #5D3A5D;
    border-radius: 75px;
}
.titulo{
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
.style-sobremi h2{
    font-size: 34px;
    margin: 20px 0;
    color: #2D425E;
    letter-spacing: 2px;
}
.style-sobremi h2 spam{
    color:#5D3A5D ;
}
.style-sobremi h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.style-sobremi p{
    font-size: 19px;
    line-height: 25px;
    color: #565656;
}
.style-sobremi button{
    color: #141415;
    border-radius: 30px;
    box-shadow: -1px 3px 3px 0px rgba(46,74,117,1);
    border: 2px solid #fff;
    padding: 10px;
    font-weight: bold;

}
.style-sobremi button:hover{
    background-color: #FE3D74;
    color: #fff;
}

.containerCards{
    display: grid;
    grid-template-columns: repeat(5, 200px);
    gap: 1em;
    margin: 10px;
    justify-self: center;
    justify-content: center;
    margin-bottom:95px;
    background-color: #eff4f7;
    padding: 96px;

}
.containerCards div{
    background-color: f6f6f6;
    box-shadow: 0px 2px 9px 0px rgb(46 74 117);
    border: 2px solid #fff;
    border-radius: 3px;
    text-align: center;
}
.containerCards div:hover{
    border: 1px solid #f1c40f
}

.containerCards div a{
    text-decoration: none;
    color: #141415;
}

.titulo-habilidades p{
    font-size: 25px;
    line-height: 25px;
    color: #565656;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
    text-align: center;
    margin: 70px;
}

.titulo-seccion{
    font-size: 25px;
    line-height: 25px;
    color: #565656;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
    text-align: center;
    margin: 70px;
}

.proyectos-cards{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 10px;
    background-color: #eff4f7;
    padding: 100px;

}
.proyectos-cards .proyecto{
    background-color: #fff;
    box-shadow: 0px 2px 9px 0px rgb(46 74 117);
    border: 2px solid #fff;
    border-radius: 3px;
    text-align: center;
}
.proyectos img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    transition: .5s;
}
.proyectos-cards .proyecto:hover{
    border: 1px solid #f1c40f

}

.seccion-formulario{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items:end;
}
form{
    margin-top: 80px;
}
form .campo{
    padding: 15px;
    border: none;
    border-radius: 10px;
    border: 1px solid #919191;
    margin-bottom: 5px;
    font-family: sans-serif;
}

.info-form h3{
    font-size: 25px;
    line-height: 25px;
    color: #565656;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
.info-form p{
    line-height: 20px;
    color: #111135;
}
.lista-formulario li a{
    text-decoration: none;
}
.lista-formulario{
    list-style-type: none;
}

form .boton-formulario{
    margin: 0px 150px 0px 150px;
    border-radius: 50px;
    border: 2px solid #fff;
    padding: 10px 25px;
    font-weight: bold;
    box-shadow: -1px 3px 3px 0px rgba(46,74,117,1);
}

form .boton-formulario:hover{
    background-color: #FE3D74;
}
footer{
    margin: 0;
    padding: 100px;

}


@media (max-width:576px) {              
    .abrir-menu,
    .cerrar-menu{
        display: block;
        border: 0;
        font-size: 2rem;
        cursor: pointer;
        color: #fff;
        background-color: #563856;
    }

    .cerrar-menu{
        color: #fff;
    }

    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #563856;
        padding: 2rem;
        bottom: 0;
        box-shadow: 0 0 0 100vmax rgba(174, 128, 183, 0.5);
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
    
    .lista{
        flex-direction: column;
        align-items: end;
    }
  
    .bienvenida{
        font-size: 20px;
    }
    .informacion{
        flex-direction: column;

    }
    .imagen-info{
        flex-direction: column;
    }
    .informacion .imagen-pc{
        width: 250px;
        margin: 0%;
    }
    .style-sobremi img{
        margin: 0%;
        width: 250px;
    }
    .informacion-sobremi{
        margin: 10px;
        text-align: center;
    }
    .containerCards{
        margin: 0%;
        display: grid;
        grid-template-columns: repeat(3,100px);
        gap: 1.5em;
    }
    .containerCards div a h3{
        font-size: 17px;
    }
    .proyectos-cards{
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    .proyecto a img{
        object-fit: cover;
        width: 100%;
    }
    .seccion-formulario{
        display: flex;
        flex-direction: column;
    }

    .info-form h3,
    .info-form p{
        text-align: center;
    }
    form .campo{
        display: flex;
        width: 100%;
    }



}
@media (min-width:768px) {              

    .bienvenida{
        margin-top: 50px;
        margin-left: 40px;
        }
    .informacion-sobremi{
        margin-left: 20px;
        text-align: center;
    }

    .informacion .imagen-pc{
        width: 500px;
    }
    .style-sobremi img{
     max-width: 290px;
    }
    .style-sobremi{
        padding: 3%;
    }
    main .movimiento-imagen{
        animation: movimiento 0s linear infinite;
    }
    .containerCards{
        margin: 0%;
        display: grid;
        grid-template-columns: repeat(5,100px);
        gap: 1.5em;
    }
    .containerCards div a h3{
        font-size: 17px;
    }
    .proyectos-cards{
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        padding: 40px;
    }
    form{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

@media (min-width:992px) {  
    .bienvenida{
        margin-left: 0px;
    }
    .informacion{
        margin: 20px 0 90px;
    }  
    .style-sobremi img{
        max-width: 400px;
    }
    .containerCards{
        display: grid;
        grid-template-columns: repeat(3, 273px);
        grid-template-rows: 141px 141px 141px 141px;
    }
     
}
@media (min-width:1200px) {  
    .bienvenida{
        margin-left: 0px;
    }
    .proyectos-cards{
        display: grid;
        grid-template-columns: repeat(2, 589px);
    }
    .proyectos-cards .proyecto a img{
        width: 554px;
    }
    main .movimiento-imagen{
        animation: movimiento 2.5s linear infinite;
    }
    .style-sobremi img{
        margin-right: 70px;
    }           
}
@media (min-width:1400px) {
    .proyectos-cards{
        display: grid;
        grid-template-columns: repeat(3, 488px);
        grid-template-rows: 480px 480px;
        justify-content: center;
        gap: 1rem;
    }
    .proyectos-cards .proyecto a img{
        width: 484px;
    }
}
}